#root {
  display: flex;
  width: 1024px;
  height: 768px;
  margin: 0;
  /* padding: 2rem; */
  text-align: center;
  border: #3a3a3a 1px solid;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

#home {
  height: 100%;
  width: 100%;
}
.main{    height: 100%;
  width: 100%;}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
#mainLayout{
  display: flex
;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
