.radialChart-wrapper {
  background: #FBFBFB;
  border-radius: 5px;
  width: 258px;
  height: 263px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  .radialChart-container {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    path:nth-last-child(1) {
      opacity: 0;
      display: none;
    }

    div[class="recharts-legend-wrapper"] {
      display: flex;
      position: absolute;
      width: 235px;
      height: 235px;
      border-radius: 101%;
      background: #ffffff;
      align-items: center;
      justify-content: center;
      /* left: 394.5px; */
      /* top: 32.5px; */
      border: solid white 58px;
    }
  }
}

@media (min-width: 1024px) and (min-height: 768px) {
  .radialChart-wrapper {
    width: 195px;
    height: 195px;
    line.angleAxis{
      display: none;
    }
    .radialChart-container {

  
      path:nth-last-child(1) {
       
      }
  
      div[class="recharts-legend-wrapper"] {
 
      }
    }
  }
}
