.radar-wrapper {
  background: #282d30;
  box-shadow: 0px 2px 4px 0px #00000005;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
}

@media (min-width: 1024px) and (max-width: 1200px) and (min-height: 768px) {
  .radar-wrapper {

    font-size: 6px;
    font-weight: 400;
    line {
      display: none;
    }
  }
  .recharts-responsive-container {
    width: 32%;
    height: 100%;
    min-width: 0px;
  }
}
