#sideBar {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  background-color: #020203;
  height: 100%;
  width: 117px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  transform: rotateZ(0deg);
  position: absolute;
  left: 0;

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    li {
      margin-bottom: 26px;
      border-radius: 5px;
    }
  }
  p {
    text-align: center;
    transform: rotateZ(270deg);
    width: 137px;
    height: 24px;
    color: #ffffff;
    font-size: 12px;
    margin: 0;
  }
}
